ansible[azure]
msrestazure
azure-identity
azure-cli-core
azure-mgmt-resource
azure-mgmt-network
azure-mgmt-containerservice
azure-mgmt-authorization
azure-mgmt-compute
azure-mgmt-monitor
azure-mgmt-dns
azure-mgmt-privatedns
azure-mgmt-web
azure-mgmt-marketplaceordering
azure-mgmt-trafficmanager
azure-mgmt-sql
azure-mgmt-servicebus
azure-mgmt-rdbms
azure-storage-blob
azure-storage-file-share
azure-mgmt-rdbms
